/vosk-model-small-pt-0.3
/voiceModel
/voiceFiles
/src/voiceRec/__pycache__
/env
resposta.wav
# Módulos e scripts de teste/estudo temporários
src/compV/provisorio/
*.tflite
src/compV/percepcao/__pycache__
